**pyc
# models/
*.safetensors
tokenizer.model
model.safetensors.index.json
special_tokens_map.json
tokenizer_config.json
tokenizer.json
generation_config.json
# config.json
outputs/
.slurm/
logging/
data/checkthat24
data/araieval_arabicnlp24
data/xl-wa
data/pred_documents
data/mt_train_data
data/combined
.vscode/
paper/
results/old/
.env/
results_sub_1/
results_argo/
scripts/
model_info/
chat_templates/
